@use "sass:math";
@use "variables" as *;

/**
 * Site header
 */
.site-title {
  @include relative-font-size(1.125);
  float: left;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $text-color;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.site-nav {
  float: right;

  .page-link {
    font-weight: normal;
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    margin-top: math.div($spacing-unit, 2);
    position: relative;
    display: block;
    text-align: left;
    float: left;
    clear: both;

    .page-link {
      margin-right: 20px;
      &:not(:last-child) {
        margin-left: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  @include relative-font-size(0.938);
  color: $white-color;
  background: linear-gradient(90deg, $brand-color-dark 25%, $brand-color);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    color: inherit;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin-left: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @include media-query($on-palm) {
    .footer-links {
      margin-top: $spacing-unit;
      display: block;
      text-align: left;
      float: left;
      clear: both;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Post lists & posts
 */
.post-meta {
  font-size: $small-font-size;
  color: $text-color;
}

.post-link {
  @include relative-font-size(1.5);
}

.post-header {
  margin-bottom: $spacing-unit;
}
