---
layout: default
---

<div class="w-100 center">

  <h1 class="f2 f1-m f-headline-l gradient greeting">Hello!</h1>

  <div class="f4 f3-l lh-copy measure-wide mb5 mb6-ns">
    {{ content }}
  </div>

  <h1 class="gradient">Most Recent Posts</h1>

  <ul class="list pl0">
    {% assign recent_posts = site.posts | where_exp: "post", "post.projects != 'projects'" %}
    {% for post in recent_posts limit: 3 %}
      <li class="pv3 pv4-ns bt b--black-10">
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
